<div class="card">
  <h2>{{task.name.toUpperCase()}}</h2>
  <form [formGroup]="taskForm" (submit)="submitTask()" class="add-task-form">
    <input type="text" name="task" id="task" placeholder="Add Task" formControlName="task">
  </form>
  <div class="tasks-container">
    <div *ngFor="let item of task.data" class="project">
      <p class="task-name">
        {{item.name}}
      </p>
      <div class="task-actions">
        <button mat-raised-button color="primary" (click)="editTask(item.id)">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteTask(item.id)">Delete</button>
      </div>
    </div>
</div>
