<div class="container">
  <app-registration-navbar></app-registration-navbar>
  <div class="form-container">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="login-input" placeholder="youremail@gmail.com" formControlName="email">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="login-input" placeholder="Your Password" formControlName="password">
      <button type="submit" mat-raised-button color="primary" class="submit-login">Login</button>
    </form>
  </div>
</div>
