<div class="container">
  <app-navbar></app-navbar>
  <div class="inner-wrapper">
    <form [formGroup]="createProjectForm" class="add-project" (submit)="submitProject()">
      <h2>Create New Project Board</h2>
      <label for="title">Project Name</label>
      <input type="text" name="title" id="title" placeholder="Best Thing Ever" class="project-input" formControlName="title">
      <button 
      type="submit" 
      mat-raised-button 
      color="primary"
      class="submit-project"
      [disabled]="createProjectForm.invalid"
      >
       Create Project
      </button>
    </form>
    <div class="projects-container">
      <h2>Your Work Spaces</h2>
      <div *ngFor="let item of projects" class="project">
      <p>{{item.title}}</p>
      <a [routerLink]="['/my/project', item.id]">View Project ></a>
      </div>
    </div>
  </div>
</div>
